{% extends 'base.html.twig' %}

{% block title %}New UnfulfilledGoals{% endblock %}

{% block body %}
    <h1>Create new UnfulfilledGoals</h1>

    {{ include('unfulfilled_goals/_form.html.twig') }}

    <a href="{{ path('app_unfulfilled_goals_index') }}">back to list</a>
{% endblock %}
